# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
.env/
ENV/
env.bak/
*.env

# VS Code
.vscode/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# Django migrations
**/migrations/
!*/migrations/__init__.py

# Pytest / Coverage
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Node (caso use com front-end)
node_modules/
