{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container py-5">
    <form action="/login/" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto " id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <button class="btn btn-danger d-block mx-auto" type="submit">Log In</button>
        </div>
    </form>
</div>
{% endblock %}