{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container py-5">
    <form action="/register/" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
        </div>
        <div class="mb-3">
            <input id="date" class="form-control mx-auto w-auto"  id="date" name="date" type="date" />
        </div>
        <div class="mb-3">
            <input id="date" class="form-control mx-auto w-auto"  id="phone" name="phone" placeholder="Phone Number" type="text" />
        </div>
        <div class="mb-3">
            <input id="date" class="form-control mx-auto w-auto"  id="address" name="address" placeholder="Address" type="text" />
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
            <button class="btn btn-danger d-block mx-auto" type="submit">Register</button>
    </form>
</div>
{% endblock %}