{% extends "layout.html" %}

{% block title %}
    Agendamento |SUS|
{% endblock %}

{% block main %}

<div class="container mt-5">
    <div class="row justify-content-center"> 
        <div class="col-md-8"> 
            <h1 class="mb-4 text-center">Agendamento de Consulta</h1>

            <form method="POST" action="{% url 'salvar_agendamento' %}">
                {% csrf_token %} <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="unidade" class="form-label">Unidade de Saúde</label>
                        <select id="unidade" name="unidade_id" class="form-select" required>
                            <option value="" selected>Selecione a Unidade...</option>
                            {% for unidade in unidades_de_saude %}
                                <option value="{{ unidade.id }}">{{ unidade.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="especialidade" class="form-label">Especialidade</label>
                        <select id="especialidade" name="especialidade" class="form-select" required>
                            <option value="" selected>Selecione a Especialidade...</option>
                            <option value="Clínica Médica">Clínica Médica</option>
                            <option value="Cardiologia">Cardiologia</option>
                            <option value="Dermatologia">Dermatologia</option>
                            <option value="Ginecologia e Obstetrícia">Ginecologia e Obstetrícia</option>
                            <option value="Ortopedia e Traumatologia">Ortopedia e Traumatologia</option>
                            <option value="Pediatria">Pediatria</option>
                            <option value="Psiquiatria">Psiquiatria</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="data" class="form-label">Dia da Consulta</label>
                        <input type="date" id="data" name="data_consulta" class="form-control" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="horario" class="form-label">Horário</label>
                        <select id="horario" name="horario_consulta" class="form-select" required>
                            <option value="" selected>Selecione o Horário...</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                        </select>
                    </div>
                </div>

                <div class="d-grid gap-2 col-md-8 mx-auto mt-4"> 
                    <button class="btn btn-primary btn-lg" type="submit">Agendar</button> 
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}