{% extends "layout.html" %}

{% block title %}
    Agendamento |SUS|
{% endblock %}

{% block main %}

        <div class="list-group list-group-flush border-bottom scrollarea">
    
            {% for code in codes %}
            <div class="list-group-item list-group-item-danger py-3 lh-sm" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">{{ code.code }}</strong>
                    <small>{{ code.type_of_code }}</small>
                </div>
                <div class="col-10 mb-1 small">{{ code.created }}</div>
            </div>
            {% endfor %} 
        </div>

    <form>
        <div class="container" style="width: 380px; height: 160px; padding: auto;">

            <div>

                <h1>Agendamento SUS </h1>

                <div class="mb-3" style="width: 380px;">
                    <label for="especialidades" class="form-label">Especialidades</label>
                    <select id="especialidades" name="especialidades" multiple class="form-select">
                      <option value="Cardiologia">Cardiologia</option>
                      <option value="Dermatologia">Dermatologia</option>
                      <option value="Ortopedia">Ortopedia</option>
                      <option value="Pediatria">Pediatria</option>
                      <option value="Ginecologia">Ginecologia</option>
                    </select>
                  </div>



            </div>
        </div>
    </form>
    
    
    </div>
</div>


<script type="text/javascript">
    console.log(window.location.host)
</script>

{% endblock %}